<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=no">
    <title>Gym Tracker</title>
    <link rel="stylesheet" href="/styles.css?v=20250806">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon-180.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#111111">
</head>
<body id="login-body">
    <h1 id="login-header">Gym Tracker</h1>

    <div class="section" id="login-section">
        <div class="login-container">
            <form action="/login">
                <input type="text" name="username" placeholder="Username" required><br>
                <input type="password" name="password" placeholder="Password" required><br>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <script src="/scripts.js?v=20250901"></script>
</body>
</html>