
/*  ----------------------------------------------------------
 *  |                       VARIABLES                        |
 *  ----------------------------------------------------------
 */
:root {
    --bg-dark: hsl(0, 0%, 10%);
    --bg: hsl(0, 0%, 17%);
    --bg-transparent: hsla(0, 0%, 17%, 0.8);
    --bg-light: hsl(0, 0%, 23%);
    --bg-lighter: hsl(0, 0%, 35%);
    --glass-bg: rgba(255, 255, 255, 0.1);
    --primary: hsl(117, 66%, 45%);
    --primary-transparent: hsla(117, 80%, 60%, 0.5);
    --secondary: hsl(20, 71%, 53%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 85%);
    --border-radius: 20px;

    --shadow-s:
    inset 0 1px 2px #ffffff30,
    0 1px 2px #00000030,
    0 1px 2px #00000015;
    --shadow-m:
    inset 0 1px 2px #ffffff50,
    0 2px 4px #00000030,
    0 4px 6px #00000015;
    --shadow-l:
    inset 0 2px 4px #ffffff70,
    0 4px 6px #00000030,
    0 6px 10px #00000015;
    --shadow-xl:
    inset 0 4px 6px #ffffff70,
    0 6px 10px #00000070,
    0 10px 16px #00000050;
}


/*  ----------------------------------------------------------
 *  |                        GENERAL                         |
 *  ----------------------------------------------------------
 */
body {
    background: var(--bg-dark);
    color: var(--text);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    position: relative;
}

button, a {
    background: var(--bg-light);
    box-shadow: var(--shadow-m);
    color: var(--text);
    border: none;
    border-radius: var(--border-radius);
    padding: 1rem;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;

    &:hover {
        box-shadow: var(--shadow-l);
        transform: scale(1.03, 1.03);
    }
}


/*  ----------------------------------------------------------
 *  |                      HEADER DIV                        |
 *  ----------------------------------------------------------
 */
.header-div {
    background: linear-gradient(var(--primary), var(--primary-transparent));
    box-shadow: var(--shadow-xl);
    width: 100%;
    height: 8rem;

    .nav-div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: fit-content;
        gap: 1rem;
        
        img {
            width: 130px;
            margin-right: 2rem;
        }
        a {
            background: var(--glass-bg);
            border-radius: 30px;
        }
    }
}


/*  ----------------------------------------------------------
 *  |                    PRESET WORKOUTS                     |
 *  ----------------------------------------------------------
 */
#preset-workouts-div {
    display: flex;
    width: calc(100% - 2rem);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    margin: 2rem auto;

    .preset-workout {
        display: grid;
        grid-template-rows: auto 1fr auto;
        background: var(--bg);
        box-shadow: var(--shadow-s);
        border-radius: var(--border-radius);
        width: calc(50% - 0.5rem);
        box-sizing: border-box;
        flex-shrink: 0;
        scroll-snap-align: center;
        padding: 1rem;

        &:hover {
            box-shadow: var(--shadow-m);
        }
        h3 {
            color: var(--text);
            margin: 0 auto;
        }
        p {
            color: var(--text-muted);
        }
        .preset-workout-buttons {
            display: flex;
            gap: 1rem;
            
            .start-workout-a {
                background: var(--bg-dark);
                color: var(--primary);
                border: solid 1px var(--primary);
            }
            .edit-workout-button {
                background: var(--bg-dark);
                color: var(--secondary);
                border: solid 1px var(--secondary);
            }
        }
    }
}


/*  ----------------------------------------------------------
 *  |                  WORKOUT IN PROGRESS                   |
 *  ----------------------------------------------------------
 */
#workout-in-progress-background {
    display: none;
    background: var(--glass-bg);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    div {
        background: var(--bg-transparent);
        box-shadow: var(--shadow-s);
        border-radius: var(--border-radius);
        width: calc(100% - 6rem);
        height: 75%;
        margin: 7rem auto;
        padding: 1rem;

        h2 {
            margin: 2rem;
            text-align: center;
        }
        #exercises-fieldset {
            width: 100%;
            margin: 0;
            padding: 0;
            border: none;

            label {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                margin: 2rem 0;

                &:first-of-type {
                    margin-top: 0;
                }
                span {
                    margin: auto 0;
                }
                button {
                    padding: 0.25rem;
                }
            }
        }
    }
}


@media (max-width: 600px) {
   /*  ----------------------------------------------------------
    *  |                      HEADER DIV                        |
    *  ----------------------------------------------------------
    */
    .header-div {
        height: 10rem;

        .nav-div {
            height: 100%;
            position: relative;
            gap: 1.5rem;

            img {
                position: absolute;
                top: -1rem;
                left: calc(50% - 65px);
            }
            a {
                margin-top: 5rem;
                transform: scale(1.15, 1.15);
            }
        }
    }

   /*  ----------------------------------------------------------
    *  |                    PRESET WORKOUTS                     |
    *  ----------------------------------------------------------
    */
    .start-workout-a,
    .edit-workout-button {
        text-align: center;
        padding: 0.5rem;
    }
}
