
/*  ----------------------------------------------------------
 *  |                       VARIABLES                        |
 *  ----------------------------------------------------------
 */
:root {
    --bg-dark: hsl(0, 0%, 10%);
    --bg: hsl(0, 0%, 17%);
    --bg-transparent: hsla(0, 0%, 17%, 0.85);
    --bg-light: hsl(0, 0%, 23%);
    --bg-lighter: hsl(0, 0%, 35%);
    --glass-bg: rgba(255, 255, 255, 0.1);
    --primary: hsl(117, 66%, 45%);
    --primary-transparent: hsla(117, 80%, 60%, 0.5);
    --secondary: hsl(20, 71%, 53%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 85%);
    --border-radius: 20px;

    --shadow-s:
    inset 0 1px 2px #ffffff30,
    0 1px 2px #00000030,
    0 1px 2px #00000015;
    --shadow-m:
    inset 0 1px 2px #ffffff50,
    0 2px 4px #00000030,
    0 4px 6px #00000015;
    --shadow-l:
    inset 0 2px 4px #ffffff70,
    0 4px 6px #00000030,
    0 6px 10px #00000015;
    --shadow-xl:
    inset 0 4px 6px #ffffff70,
    0 6px 10px #00000070,
    0 10px 16px #00000050;
}


/*  ----------------------------------------------------------
 *  |                        GENERAL                         |
 *  ----------------------------------------------------------
 */
body {
    background: var(--bg-dark);
    color: var(--text);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    position: relative;
}

h1, h2, h3 {
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}

button, a {
    background: var(--bg-light);
    box-shadow: var(--shadow-m);
    color: var(--text);
    border: none;
    border-radius: var(--border-radius);
    padding: 1rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;

    &:hover {
        box-shadow: var(--shadow-l);
        transform: scale(1.03, 1.03);
    }
}

.start-workout-button {
    background: var(--bg-dark);
    color: var(--primary);
    border: solid 1px var(--primary);
    font-size: 1em;
}

.edit-workout-button,
#custom-workout-add-exercise-button {
    background: var(--bg-dark);
    color: var(--secondary);
    border: solid 1px var(--secondary);
    font-size: 1em;
}

input, select {
    background: var(--bg-lighter);
    box-shadow: var(--shadow-m);
    color: var(--text);
    border-radius: var(--border-radius);
    border: none;
    padding: 0.25rem;
    cursor: pointer;
    font-size: 18px;
    text-align: center;

    &:hover {
        box-shadow: var(--shadow-l);
        transform: scale(1.03, 1.03);
    }
    &:focus {
        outline: none;
    }
}


/*  ----------------------------------------------------------
 *  |                      HEADER DIV                        |
 *  ----------------------------------------------------------
 */
.header-div {
    background: linear-gradient(var(--primary), var(--primary-transparent));
    box-shadow: var(--shadow-xl);
    width: 100%;
    height: 8rem;

    .nav-div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: fit-content;
        gap: 1rem;
        
        img {
            width: 130px;
            margin-right: 2rem;
        }
        a {
            background: var(--glass-bg);
            border-radius: 30px;
        }
    }
}


/*  ----------------------------------------------------------
 *  |                    PRESET WORKOUTS                     |
 *  ----------------------------------------------------------
 */
#preset-workouts-div {
    display: flex;
    width: calc(100% - 2rem);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    margin: 2rem auto;

    .preset-workout {
        display: grid;
        grid-template-rows: auto 1fr auto;
        background: var(--bg);
        box-shadow: var(--shadow-s);
        border-radius: var(--border-radius);
        width: calc(50% - 0.5rem);
        box-sizing: border-box;
        flex-shrink: 0;
        scroll-snap-align: center;
        padding: 1rem;

        &:hover {
            box-shadow: var(--shadow-m);
        }
        h3 {
            color: var(--text);
            margin: 0 auto;
            font-size: 1.3em;
        }
        p {
            color: var(--text-muted);
            font-size: 1.1em;
        }
        .preset-workout-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            button {
                width: 100%;
            }
        }
    }
}


/*  ----------------------------------------------------------
 *  |                     CUSTOM WORKOUT                     |
 *  ----------------------------------------------------------
 */
 #custom-workout-div {
    background: var(--bg);
    box-shadow: var(--shadow-s);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin: 1rem;

    h2 {
        margin: 0.5rem 0 1.5rem 0;
        text-align: center;
    }
    .exercise-div {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        gap: 1rem;
        margin-bottom: 2rem;

        select {
            width: 100%;
        }
        button {
            padding: 0.25rem;
            background: hsla(0, 70%, 50%, 0.8);
        }
    }
    #custom-workout-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;

        button {
            width: 85%;
            margin: auto;
        }
    }
 }


/*  ----------------------------------------------------------
 *  |                  WORKOUT IN PROGRESS                   |
 *  |                      EDIT WORKOUT                      |
 *  ----------------------------------------------------------
 */
.start-edit-workout-background {
    display: none;
    align-items: center;
    justify-content: center;
    background: var(--glass-bg);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    #workout-in-progress-div,
    #edit-workout-div {
        background: var(--bg-transparent);
        box-shadow: var(--shadow-s);
        border-radius: var(--border-radius);
        width: calc(100% - 6rem);
        height: fit-content;
        padding: 1rem;

        h2 {
            margin: 2rem;
            text-align: center;
        }
        .exercises-fieldset {
            width: 100%;
            margin: 0;
            padding: 0;
            border: none;

            div {
                background: var(--glass-bg);
                box-shadow: var(--shadow-s);
                border-radius: var(--border-radius);
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 1rem;
                row-gap: 1.5rem;
                margin: 1rem 0;
                padding: 0.5rem;

                &:first-of-type {
                    margin-top: 0;
                }
                span {
                    margin: auto 0 auto 0.25rem;
                    font-size: 1.3em;
                    grid-area: 1 / 1 / 1 / 3;
                }
                button {
                    padding: 0.25rem;
                    background: hsla(0, 70%, 50%, 0.8);
                }
                input {
                    width: calc(100% - 0.5rem);
                }
            }
        }
        #workout-in-progress-buttons,
        #edit-workout-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;

            button {
                width: 85%;
                margin: auto;

                &[type="submit"] {
                    background: var(--bg-dark);
                    color: var(--primary);
                    border: solid 1px var(--primary);
                }
                &[type="button"] {
                    background: var(--bg-dark);
                    color: var(--secondary);
                    border: solid 1px var(--secondary);
                }
            }
        }
    }

    #edit-workout-div .exercises-fieldset div {
        grid-template-columns: 1fr 0.5fr;
        margin: 1.5rem 0;
    }
}


/*  ----------------------------------------------------------
 *  |                       KEYFRAMES                        |
 *  ----------------------------------------------------------
 */
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


@media (max-width: 600px) {
   /*  ----------------------------------------------------------
    *  |                      HEADER DIV                        |
    *  ----------------------------------------------------------
    */
    .header-div {
        height: 10rem;

        .nav-div {
            height: 100%;
            position: relative;
            gap: 1.5rem;

            img {
                position: absolute;
                top: -1rem;
                left: calc(50% - 65px);
            }
            a {
                margin-top: 5rem;
                transform: scale(1.1, 1.1);
            }
        }
    }

   /*  ----------------------------------------------------------
    *  |                    PRESET WORKOUTS                     |
    *  |                    CUSTOM WORKOUTS                     |
    *  ----------------------------------------------------------
    */
    .start-workout-button,
    .edit-workout-button,
    #custom-workout-add-exercise-button {
        padding: 0.5rem;
    }
}
